@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------BASE----------*/
html{

    scroll-behavior: smooth;

}

body{

    width: 1200px;
    margin: auto;
    background: #FFF;
    color: #000;
    font-family: 'Poppins';
    font-size: 16px;
    
}

/*----------TEXT----------*/

.site-title{ /*H1*/
    margin: 0;
    font-size: 36px;
    font-weight:300;
    text-decoration: none;
    line-height: 46px;
}

.section-title{ /*H2*/
    margin-top: 0;
    font-size: 40px;
    font-weight: 700;
    span{
        color: #43960f;
    }
}

.content-title{ /*H3*/
    font-size: 28px;
    font-weight: 500;
}

.header-para{
    font-size: large;
    font-weight: 400;
}

.section-para{
    font-size: 16px;
    font-weight: 200;
}

.link{
    text-decoration: none;
}

.link--wh{
    color:#FFF;
}

.link--bk{
    color: #000;;
}

.link--active{
    color: #43960f;
}

.link:hover{
    color:#43960f
}

em{
    font-style: normal;
}

/*----------UTILITIES----------*/

.flexRow, .flexColumn{
    display: flex;
}

.flexRow{
    flex-direction: row;
}

.flexColumn{
    flex-direction: column;
}

.shadow{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.216);
}

.row{
    height: 1px;
}

.hidden{
    display: none;
}

.abs{
    position: absolute;
}

.abs--TR{
    top:0px;
    right:20px;
}

.txt-center{
    text-align: center;
}

/*----------ELEMENTS----------*/

.site-logo{
    width: 150px;
}

.icone{
    width: 25px;
    margin-right: 10px;
    vertical-align: middle;
    fill: #FFF;
}

.nav{
    
    li{
        display: inline-block;
        margin-right: 30px;
        font-weight: 400;
    }
}

.btn-container{
    margin: 20px 0 20px 0;
    justify-content: center;
    gap: 5px;
}

.btn{
    display: block;
    border: none;
    background-color: #43960f;
}

.btn--small{

    height: 15px;
    width: 15px;
    border-radius: 15px;

}

.btn--medium{

    width: 20px;
    height: 20px;
    border-radius: 20px;

}

.btn--active{
    background-color: #235007;
}


.image-block{
    position: relative;
    height: fit-content;
    width: fit-content;
    justify-content: center;
}

.image-block-nb{
    display: table;
    position: absolute;
    right: -35px;
    width:70px;
    height: 70px;
    border-radius: 70px;
    border: 1px solid #2f6a0a;
    background-color: #428713;
    span{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        font-weight: 300;
        color:#FFF
    }

}

.profil-card{

    background-color: #FFF;
    padding: 15px;
    width: fit-content;
    margin: auto;

}

.profil-image{
    width: 200px;
}

.profil-quote{
    width: 50px;
    margin: auto;
    margin-top: 10px;
}

.popup-wrapper{
    height: 100vh;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.724);
    position: fixed;
    top: 0;
}

.popup-card{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    justify-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.379);
    text-align: center;
    justify-content: center;
}
/*----------SECTIONS LAYOUT----------*/

.section-wrapper{
    margin-top: 80px;
    position: relative;
}

.section-container{

    height: 100%;
    width: 1150px;
    margin: auto;    
    padding-left:50px;
    padding-right: 50px;
    box-sizing: border-box;
    justify-content: center;


}

.content-box{
    width: 50%;
    box-sizing: border-box;
}

/*----------SPECIFICS----------*/


/* HEADER */

#site-header{

    padding: 20px 80px 70px 80px;
    box-sizing: border-box;
    background-color: #ecebf0;

}

.header-banner{

    width: 1050px;
    justify-content: space-between;

}

.banner-nav{

    justify-content: flex-end;

}

.header-content{

    width: 950px;
    margin: auto;
    margin-top: 120px;
    box-sizing: border-box;

    span{
        margin-top: 10px;
        color: #3c9517;
        font-style: normal;
        font-size: 56px;
        line-height: 72px;
        font-weight: 650;
    }
    img{

        width: 100%; /* Sinon prend sa taille original */

    }
}

/* NAV */

#fixedNav{
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 1200px;    
    margin: auto;
    padding: 0 75px 0 75px;
    box-sizing: border-box;
    background-color: #333;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: flex-end;

    ul{
        width: fit-content;
    }
}

/* MAIN */

#about-section .section-container{
    width:1150px;
    padding-left:0;
    padding-right: 0;
}

#about-section .section-title{ /*H2*/

    
    width: fit-content;
    padding:5px 30px 5px 30px;
    background-color: #43960f;
    color: #FFF;
    font-size: 40px;


}

#about-section .left{
    padding: 35px 50px 35px 50px;
    button{
        margin-top: 20px;
        padding: 15px 15px 15px 15px;
        border: none;
        background-color: #000;
        color: #FFF;
        border-radius: 40px;
        font-size: 14px;
    }
}

#about-section .right{
    img{
        width: 100%;
    }
}


#freshVegetables-section .section-container{
    position: relative;
}

#freshVegetables-section .left{
    width: 40%;
    img{
        width: 680px;
        margin-top: 50px;
    }
    h3{
        margin: 0 0 20px 0;
    }
}    

#freshVegetables-section .right{

    position: absolute;
    width: auto;
    right: 40px;
    z-index: -1;

}

#testimonials-section{
    height: 933px;
    justify-content: center;
    background-image: url("images/test2.png");
    background-size: auto;
}

#testimonials-section .section-content{
    height: 430px;
    width: 1050px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    background-color: #3d951796;
}

#testimonials-section .left{
    width: 30%;
    justify-content: center;
}    

#testimonials-section .right{
    width: 70%;
    padding: 0 30px 0 30px;
    justify-content: center;
    h4{
        margin:0 0 0 10px;
        font-size: 24px;
        font-weight: 300;
    }
    h5{
        margin: 0 0 30px 10px;
        font-size: 16px;
        font-weight: 300;
    }
}

#contact-section{

    background-image: url("images/banner2.png");
    background-size: contain;

}

#contact-section .section-content{
    background-color: #FFF;
}

#contact-section .left{

    padding: 50px 40px 50px 20px;
    align-items: end;
    gap:30px;

}

#contact-section .map{
    height: 100%;
    width: 100%;
}

#contact-section .input{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

#contact-section .textarea{
    height: 120px;
}

#contact-section .submit{

    position: relative;
    height: 50px;
    width: 180px;
    margin-top: 40px;
    font-family: inherit;
    background-color: #428713;
    border: 1px solid gainsboro;
    color: #FFF;
    font-size: 16px;
}



#site-footer{
    padding-top:50px;
    margin-top: 80px;
    background: #333;
    color: #FFF;
    font-size: 24px;
    li{
        margin-bottom: 6px;
        padding: 0;
        list-style: none;
        font-size: 14px;
        font-weight: 200;
    }
    ul{

        padding: 0;
    
    }
    strong{

        font-size: 24px;
    
    }
}

#site-footer .site-logo{
    margin-left:65px
}

.footer-container{

    width: 1050px;
    margin: auto;
    padding: 30px 0 30px 0;
    justify-content: space-between;

}

#site-footer .input{
        height: 40px;
        width: 320px;
        margin-top: 16px;
        padding-left: 10px;
        font-size: 16px;
    }

#site-footer .submit{
        display: block;
        height: fit-content;
        width: fit-content;
        margin-top: 20px;
        padding: 15px 40px 15px 40px;
        border: none;
        background-color: #428713;
        color: #FFF;
        border-radius: 40px;
        font-size: 13px;
    }


#site-footer .copyright{
    background-color: #428713;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}